# Entorno virtual
venv/

# Archivos compilados
*.pyc
__pycache__/

# Base de datos local
db.sqlite3

# Archivos de migraciones (opcionales)
*/migrations/

# Archivos temporales
*.log
*.pot
*.py~

# Archivos estáticos generados
staticfiles/
